<body>

    <div class="inc-head">
        <div class="inc-head__inner">
          <iframe src="https://www.rakuten.ne.jp/gold/pga-shop/headercontent.html" scrolling="no" frameborder="0" id="headerframe"></iframe>
        </div>
      </div>

<header class="l-header"></header>
