<section class="c-sec">
    <div class="c-sec__inner">
        <h2 class="c-ttl01">MagSafe対応ケースが選ばれる<br class="is-sp"><span>3</span>つの理由</h2>
        <ul class="reasonLists">
            <li class="reasonLists__item">
                <h3 class="reasonLists__ttl">マグネットリング内蔵</h3>
                <figure class="reasonLists__img"><img src="./img/reason_img01.jpg"></figure>
                <p class="reasonLists__txt">背面の強力マグネットリングがピタッ」と密着！正確な位置合わせでより効率よく充電可能です。<span>※一部の製品ではマグネットリングを使わない薄型パネルを採用しています。</span></p>
            </li>
            <li class="reasonLists__item">
                <h3 class="reasonLists__ttl">選べるバリエーション</h3>
                <figure class="reasonLists__img"><img src="./img/reason_img02.jpg"></figure>
                <p class="reasonLists__txt">手帳型ケース、クリアケース、ガラスケース、シリコンケースなど数多くのバリエーションからお選びいただけます！</p>
            </li>
            <li class="reasonLists__item">
                <h3 class="reasonLists__ttl">幅広い機種に対応</h3>
                <figure class="reasonLists__img"><img src="./img/reason_img03.jpg"></figure>
                <p class="reasonLists__txt">最新のiPhone15シリーズはもちろん、iPhone14や13、SEにも対応しています！</p>
            </li>
        </ul>
    </div>
</section>

aspect-racio コンテナクエリ、スタイルクエリ @media (width >= 400px) {} :hasセレクタ,where,is,not カスタムプロパティ text-underline-offset text-wrap: balance css関数:min,max,clamp,
▼済 grid,gap,subgird revert 論理プロパティ：margin-start スクロールバー mv固定 width: fit-content; scroll-behavier margin-inline: auto; 100svw(100svh) 今時っぽいトップへ戻る、 https://giginc.co.jp/ https://m-hand.jp/ https://sanlets.com/ https://sus.i-goods.co.jp/ https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/1-2/1-2.html https://qiita.com/soundweaver/items/9b5a3a7c0b0e198f4570