$color-twitter: #55aced;
$color-white: #ffffff;
$color-font: #676767;
$color-p01: #e49189;
$color-p02: #87b9dc;
$color-beige: #d5cab9;
$color-main: #e1fffa;
$color-main-deep: #700c0c;
$color-sub: #b84242;
$color-black: #222222;
$color-ylw: #fcee21;